---
import Layout from "../layouts/Layout.astro"
import { getCollection } from "astro:content";

const articles = await getCollection("articles")
---

<Layout title="Computer Science - Astrocs" description="Read article about Computer Science">
	<header class="max-w-screen-sm w-full">
		<h1 class="font-black text-4xl uppercase">computer science</h1>
		<p>Read article about this subject.</p>
	</header>
	<main class="gap-6 grid max-w-screen-sm w-full">
		{articles.map(article => (
			<a href={article.slug}>
				<h2 class="font-black text-2xl">{article.data.title}</h2>
				<p>{article.data.description}</p>
			</a>
		))}
	</main>
	<footer class="max-w-screen-sm w-full">
		<p>&copy; 2023 Astrocs.<br>All rights reserved.</p>
	</footer>
</Layout>